@use 'sass:map';

@use '~/assets/scss/constants' as *;
@use '~/assets/scss/units' as *;

$vars: (
  selection: (
    font-color: white,
    background-color: $comet
  ),
  tap-highlight: (
    color: rgba($ebony-clay, 0.3)
  )
);

:root {
  // App
  --app-border-radius: #{to-rem(4)};

  // Body
  --body-font-family: #{$font-family};
  --body-font-size: #{to-rem(16)};
  --body-font-size_large-up: #{to-rem(15)};
  --body-font-weight: #{$font-regular};
  --body-letter-spacing: normal;
  --body-letter-spacing_large-up: normal;
  --body-line-height: #{to-rem(24)};
  --body-line-height_large-up: #{to-rem(28)};
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin: 0;
  padding: 0;
  min-height: 100svh;

  @media (--large-up) {
    font-size: var(--body-font-size_large-up);
    letter-spacing: var(--body-letter-spacing_large-up);
    line-height: var(--body-line-height_large-up);
  }
}

html,
body {
  -webkit-tap-highlight-color: map.get($vars, 'tap-highlight', 'color');

  ::selection {
    color: map.get($vars, 'selection', 'font-color');
    background-color: map.get($vars, 'selection', 'background-color');
  }

  img::selection {
    background-color: map.get($vars, 'selection', 'background-color');
  }
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a:focus {
  outline: none;
}

h1:focus {
  outline: none;
}

figure {
  margin: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
